<div id="homepage">
	<div class="left">
		<a href="#" class="logo" style="top: 20px; left: 29px;">
			<img src="images/logo_blk.jpg" width="90" height="90" border="0">
		</a>
		<img src="images/background.jpg" width="800" height="960" border="0" class="bg anim2 lrg">
		<next-game class="nextGame fadeInRight"></next-game>
	</div>
	<div class="right">
		<div class="box club" home-cell>
						<h2>The</h2>
			<h3>Club</h3>
						<div class="line"></div>
			<div class="bline"></div>
			<div class="blenda anim2" style="width: 0px;"></div>
			<img src="images/home/club.png" width="400" height="300" border="0" class="bg anim2"> 
		</div>
        <div class="box news" home-cell="">
                        <h2>Latest</h2>
            <h3>News</h3>
                        <div class="line"></div>
            <div class="bline"></div>
            <div class="blenda anim2" style="width: 0px"></div>
            <img src="images/home/news.png" width="256" height="256" border="0" class="bg anim2"> 
        </div>
        <div class="box results" home-cell="">
                        <h2>Results and</h2>
            <h3>Schedule</h3>
						<div class="line"></div>
            <div class="bline"></div>
            <div class="blenda anim2"></div>
            <img src="images/home/results.jpg" width="400" height="300" border="0" class="bg anim2"> 
        </div>
        <div class="box team" home-cell="">
                        <h2>Team</h2>
            <h3>Members</h3>
             
            <div class="line"></div>
            <div class="bline"></div>
            <div class="blenda anim2" style="width: 0px"></div>
            <img src="images/home/team.jpg" width="400" height="300" border="0" class="bg anim2"> 
        </div>
        <div class="box media" home-cell="">
                        <h2>Media</h2>
            <h3>Gallery</h3>
						<div class="line"></div>
            <div class="bline"></div>
            <div class="blenda anim2"></div>
            <img src="images/home/gallery.jpg" width="400" height="300" border="0" class="bg anim2"> 
        </div>
        <div class="box awards" home-cell="">
                        <h2>Awards and</h2>
            <h3>Trophies</h3>
             
            <div class="line"></div>
            <div class="bline"></div>
            <div class="blenda anim2"></div>
            <img src="images/home/awards.jpg" width="400" height="300" border="0" class="bg anim2"> 
        </div>
		<div class="box footer">
			<a href="https://twitter.com/WestVanRoyals" target="_blank" class="btn2 tw">
				<img src="images/icon-tw.png" width="36" height="30" border="0">
				<div class="blenda2 anim4"></div>
			</a>
			<a href="https://www.facebook.com/pages/West-Van-Royals/199337940161230" target="_blank" class="btn2 fb">
				<img src="images/icon-fb.png" width="36" height="30" border="0">
				<div class="blenda2 anim4"></div>
			</a>
			<a href="mailto:westvanroyals@gmail.com" target="_blank" class="btn2 fb">
				<img src="images/home/mail.png" width="30" height="30" border="0">
				<div class="blenda2 anim4"></div>
			</a>				
			<div class="copywrap">
				<div class="copy">© 2013, WestVan Royals FC</div>
			</div>
			
		</div>
	</div>
</div>
