<div class="menu" ng-controller="MenuCtrl">
  <div class="wrap">  
    <a href="/" class="logo" style="top: 20.px; left: 0px">
      <img src="images/logo_blue.jpg" width="40" height="40" border="0">
    </a>
    <a href="/news" class="tab" id="news"><span>
        NEWS

    </span><div class="blenda2 anim4"></div></a>
    <a href="/club" class="tab active" id="club"><span>
        CLUB

    </span><div class="blenda2 anim4"></div></a>
    <a href="/results" class="tab" id="results"><span>
        RESULTS &amp; SCHEDULE

    </span><div class="blenda2 anim4"></div></a>
    <a href="/team" class="tab" id="team"><span>
        TEAM

    </span><div class="blenda2 anim4"></div></a>
    <a href="/media" class="tab" id="media"><span>
        GALLERY

    </span><div class="blenda2 anim4"></div></a>
    <a href="/awards" class="tab" id="awards"><span>
        AWARDS

    </span><div class="blenda2 anim4"></div></a>

  </div>
</div>    
