<div id="mobilepage">
    <ul>
      <li>
		<a href="#" class="logo" style="top: 20.333333333333332px; left: 29.15px;">
			<img src="images/logo_blk.jpg" width="90" height="90" border="0" style="margin:10px 10px;">
		</a>
      </li>
      <li>
		<next-game class="nextGame"></next-game>
      </li>
      <li>
		<div class="box club" home-cell>
						<h2>The</h2>
			<h3>Club</h3>
			<div class="bline"></div>
			<div class="blenda anim2" style="width: 0px;"></div>
        </div>
      </li>
      <li>
        <div class="box news" home-cell="">
                        <h2>Latest</h2>
            <h3>News</h3>
            <div class="bline"></div>
            <div class="blenda anim2" style="width: 0px"></div>
        </div>
      </li>
      <li>
        <div class="box results" home-cell="">
                        <h2>Results and</h2>
            <h3>Schedule</h3>
            <div class="bline"></div>
            <div class="blenda anim2"></div>
        </div>
      </li>
      <li>
        <div class="box team" home-cell="">
                        <h2>Team</h2>
            <h3>Members</h3>
             
            <div class="bline"></div>
            <div class="blenda anim2" style="width: 0px"></div>
        </div>
      </li>
      <li>
        <div class="box media" home-cell="">
                        <h2>Media</h2>
            <h3>Gallery</h3>

            <div class="bline"></div>
            <div class="blenda anim2"></div>
        </div>
      </li>
      <li>
        <div class="box awards" home-cell="">
                        <h2>Awards and</h2>
            <h3>Trophies</h3>
             
            <div class="bline"></div>
            <div class="blenda anim2"></div>
        </div>
      </li>
    </ul>
    <div class="clear"></div>
    <ul class="footer">
      <li>
        <a href="https://twitter.com/WestVanRoyals" target="_blank" class="btn2 tw">
		  <img src="images/icon-tw.png" width="36" height="30" border="0">
	    </a>
      </li>
      <li>
	    <a href="https://www.facebook.com/pages/West-Van-Royals/199337940161230" target="_blank" class="btn2 fb">
		  <img src="images/icon-fb.png" width="36" height="30" border="0">
	    </a>
      </li>
      <li>
	    <a href="mailto:westvanroyals@gmail.com" target="_blank" class="btn2 fb">
		  <img src="images/home/mail.png" width="30" height="30" border="0">
	    </a>
      </li>
	</ul>
</div>
