<div>
  <a href="#" id="getPrevGames" ng-click="getHistory()">
    <span class="royalsBlue glyphicon glyphicon-chevron-up"></span> Previous matches
  </a>
</div>
<div class="tab schedule" ng-repeat="game in schedule">
	<div class="box" >

		<div class="left">
			<h2 class="date">{{game.date | moment: 'YYYY-MM-DD HH:mm:ss': 'ddd MMM DD, YYYY hh:mm A'}}</h2>
			<h3 class="location">{{game.loc}} </h3>
			<a href="{{game.mapUrl}}" class="web anim4" target="_blank">
				- map
			</a>
		</div>
        <table class="schedule">
          <tr>
            <td>{{game.home}}</td>
            <td class="seperator" ng-hide="game.score">VS</td>
            <td class="seperator" ng-show="game.score">{{game.score}}</td>
            <td>{{game.away}}</td>
          </tr>
        </table>
		<div class="clear"></div>
	
	</div>

	<hr/>
  
</div><!--schedule --> 
