<div id="awardspage" ng-controller="AwardsCtrl">
  <div ng-include="'views/partials/header.html'"></div>	
  <div class="media">
    <div class="content wrap">
    <h1>
			Awards
	  </h1>
	  <img src="/images/results/delim2.png" width="986" height="1" border="0" class="delim">
	  <div class="clear"></div>
		
	  <div class="box">
        <h2>VMSL</h2>
        <ul>
          <li ng-repeat="vmslAwards in vmsl">{{vmslAwards}}</li>
        </ul>
        <h2>NSSL</h2>
        <ul>
          <li ng-repeat="nsslAwards in nssl">{{nsslAwards}}</li>
        </ul>
		<div class="clear"></div>
	  </div>		
   </div>
</div>
