<div id="clubpage" ng-controller="ClubCtrl">
  <div class="menu">
    <div class="wrap">  
        <a href="/" class="logo" style="top: 20.333333333333332px; left: 0px">
            <img src="images/logo_blue.jpg" width="40" height="40" border="0">
        </a>
        <a href="/news" class="tab"><span>
                NEWS
         
        </span><div class="blenda2 anim4"></div></a>
        <a href="/news" class="tab active"><span>
                CLUB
         
        </span><div class="blenda2 anim4"></div></a>
        <a href="/results" class="tab"><span>
                RESULTS &amp; SCHEDULE
         
        </span><div class="blenda2 anim4"></div></a>
        <a href="/team" class="tab"><span>
                TEAM
         
        </span><div class="blenda2 anim4"></div></a>
        <a href="/media" class="tab"><span>
                GALLERY
         
        </span><div class="blenda2 anim4"></div></a>
        <a href="/awards" class="tab"><span>
                AWARDS
         
        </span><div class="blenda2 anim4"></div></a>
                
     </div>
  </div>    
    
  <div class="media">
    <div class="content wrap">
    <h1>
            The Club
      </h1>
      <img src="/images/results/delim2.png" width="986" height="1" border="0" class="delim">
      <div class="clear"></div>
      
        
      <div class="box">
        <img class="teamphoto" src="images/team/team.JPG">
      
        <div class="logo">
          <img src="images/logo_blk.jpg">
        </div>  
        <h2>History</h2>
        <p>
        West Van Royals Football Club is a West Vancouver-based soccer team established in 1976. The Royals currently play in the Vancouver Metro Soccer League (<a href="http://vmslsoccer.com">VMSL</a>) during the Winter and the North Shore Sportsman's League (NSSL) in the Summer.
        </p>
        <div class="clear"></div>
        <h2>Home field</h2>
        <div id="map-canvas"></div>
        <p>
        The Royals play their home games at Ambleside ' F ' grass field. Heading west down Marine Dr, turn left on 13th St and continue over the train tracks. Take a left at the 3-way onto Argyle Ave, the field will be on your left.
        </p>
        <div style="height:200px"></div>
      </div>        
   </div>
</div></div>
