<div id="newspage" ng-controller="NewsCtrl">
  <div ng-include="'views/partials/header.html'"></div>	
  <div class="media">
    <div class="content wrap">
    <h1 ng-click="showDialog()">
			News
	  </h1>
	  <img src="/images/results/delim2.png" width="986" height="1" border="0" class="delim">
	  <div class="clear"></div>
		
	  <div class="box">
          <div masonry column-width="110">
              <div class="grid-sizer"></div>
              <div class="masonry-brick" ng-class="largePost(post)" ng-repeat="post in feed.data">
              <h2>{{post.created_time | moment: 'YYYY-MM-DDTHH:mm:ss Z': 'MMMM DD, YYYY'}}</h2>
              <div ng-switch="post.type">
                  <div ng-switch-when="status">
                    <div class="postData" post="{{post.message}}"></div>
                    <div ng-show="post.link">- <a href="{{post.link}}">see more</a></div>
                  </div>
                  <div ng-switch-when="link">
                    <div class="postData">
                      {{post.story}} 
                    </div>
                    <div ng-show="post.link">- <a href="{{post.link}}">see more</a></div>
                  </div>
                  <div ng-switch-when="photo">
                    <img ng-src="{{post.picture | full: 'n'}}">
                    <div class="postData" post="{{post.message}}"></div>
                    <div ng-show="post.link">- <a href="{{post.link}}">see more</a></div>
                  </div>
	              <img src="/images/results/delim2.png" width="986" height="1" border="0" class="delim">
              </div>
            </div>
          </div>
       <!-- <div id="singlenews">
          <div class="article" ng-repeat="post in feed">
            <h2>{{post.created_time | moment: 'YYYY-MM-DDTHH:mm:ss Z'}}</h2>
            <h4 post="{{post.message}}"></h4>
	        <img src="/images/results/delim2.png" width="986" height="1" border="0" class="delim">
          </div>
      </div>--> 
		<div class="clear"></div>
	  </div>		
   </div>
</div>
