<div id="teampage" ng-controller="TeamCtrl">
  <div ng-include="'views/partials/header.html'"></div>	
  <div class="media">
    <div class="content wrap">
		  <h1>
			Players	 
		  </h1>
		  <img src="/images/results/delim2.png" width="986" height="1" border="0" class="delim">
				
		  <div class="clear"></div>
		  <img src="/imgs/media/delim2.png" width="986" height="1" border="0" class="delim">
			
		  <div class="box">
	      <position players="players"></position>	
			  <div class="clear"></div>
		  </div>		
    </div>
  </div>
</div>
