<div id="teampage" ng-controller="TeamCtrl">	
  <div class="container">
    <div class="content">
		  <h1>Players</h1>
				
		  <div class="clear"></div>
		  <span>Filter: </span>
			<select ng-model="search.pos">
				<option value="">All</option>
				<option value="Goalkeeper">Goalkeepers</option>
				<option value="Defender">Defenders</option>
				<option value="Midfielder">Midfielders</option>
				<option value="Forward">Forwards</option>
			</select>
		  <div>
	      <position search="search" players="players"></position>	
			  <div class="clear"></div>
		  </div>		
    </div>
  </div>
</div>
